@model WebBG.Models.Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
<h1>Create</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="~/Admin/AdminPayments/Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CartId" class="control-label"></label>
                <select asp-for="CartId" class ="form-control" asp-items="ViewBag.Carts"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionId" class="control-label"></label>
                <input asp-for="TransactionId" class="form-control" />
                <span asp-validation-for="TransactionId" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="PaymentDate" class="control-label"></label>
                    <input asp-for="PaymentDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" readonly />
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Admin/AdminPayments/Index">Back to List</a>
</div>
</div>
