@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Board Game Galaxy - Uy Tín - Chất Lượng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>

        body {
            font-family: 'Montserrat', sans-serif;
        }

        .container {
            padding: 0; /* Remove padding from the container */
        }

        .list-group {
            margin: 0; /* Remove margin from the list */
            padding: 0; /* Remove padding from the list */
        }

        .list-item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.3s;
        }

        .list-item span a {
            text-decoration: none; /* Remove underline */
            color: inherit; /* Inherit color from parent */
        }

        .list-item i {
            font-size: 1.5rem;
            margin-right: 10px;
        }

        .list-item span {
            flex-grow: 1;
        }

        .list-item .arrow {
            margin-left: auto;
        }

        .list-item:hover {
            background-color: #e0e0e0; /* Grey color on hover */
        }

        .btn-login {
            background-color: #ffffff; /* Blue */
            border: 1px;
        }

        .btn-sign-up {
            background-color: #212529; /* Green */
            color: #1db31d;
        }

        .btn:hover {
            opacity: 0.9;
            transform: translateY(-2px);
        }

        .btn:active {
            transform: translateY(0);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .footer {
            background-color: #212529;
            color: #ffffff;
            padding: 40px 0;
        }

            .footer .container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .footer .col {
                flex: 1;
                margin: 10px;
                min-width: 250px;
            }

            .footer h3 {
                font-size: 1.5em;
                margin-bottom: 20px;
            }

            .footer p, .footer h6 {
                font-size: 1em;
                line-height: 1.5;
            }

            .footer .contact-info p {
                margin-bottom: 5px;
            }
    </style>
</head>
<body data-bs-theme="light">
    <div class="container-fluid">
        <div class="container-fluid" style="background-color:#1db31d">
            <div class="row">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <div>
                        <a href="/trang-chu">
                            <img src="~/images/logo_removebg.png" alt="logo boardgame" class="logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <form method="get" action="/Product/search">
                        <div class="input-group">
                            <input type="text" name="searchTerm" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
                            <div class="input-group-append">

                                <button type="submit" class="btn btn-dark">
                                    Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-end">

                    @if (User.Identity.IsAuthenticated)
                    {

                        string username = User.Identity.Name;
                        string permission = User.FindFirst(ClaimTypes.Role)?.Value;
                        if (permission == "1")
                        {
                            <a href="~/Admin/AdminBoardgames/Index" class="btn d-flex align-items-center justify-content-center m-1" style="background-color: #46eb46;">
                                <box-icon name='cog' type='solid' class="me-2"></box-icon>
                                Quản lý Admin
                            </a>
                        }
                        <a href="/thong-tin">@username</a>


                        <a href="/cart" class="cart-icon">
                            <box-icon name='cart-alt'></box-icon>
                            <span class="cart-item-count">0</span>
                        </a>
                        <a href="/dang-xuat" class="logout-icon">
                            <box-icon name='log-out'></box-icon>
                        </a>
                    }
                    else
                    {
                        <a href="/cart" class="cart-icon">
                            <box-icon name='cart-alt'></box-icon>
                            <span class="cart-item-count">0</span>
                        </a>
                        <a href="/dang-nhap" class="btn btn-login">Đăng nhập</a>
                        <a href="/dang-ky" class="btn btn-sign-up">Đăng ký</a>
                    }
                </div>
            </div>
            @await Html.PartialAsync("_MenuPartial")
        </div>

        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    @RenderBody()
                </div>
                
            </div>
        </div>

        <div class="footer">
            <div class="container mt-5">
                <div class="col">
                    <h3>THÔNG TIN GIỚI THIỆU</h3>
                    <p>Board Game Galaxy - Khám Phá Vũ Trụ Của Thế Giới Board Game</p>
                    <h6>Board Game Galaxy là không gian lý tưởng cho những ai yêu thích và đam mê văn hóa board game. Với một sứ mệnh rõ ràng là kích thích sự sáng tạo, gắn kết cộng đồng, và mang lại niềm vui qua những trải nghiệm chơi game đầy thú vị, Shop Board Game Galaxy không ngừng nỗ lực để trở thành điểm đến lý tưởng cho cộng đồng người chơi board game.</h6>
                </div>
                <div class="col">
                    <h3>SỨ MỆNH VÀ GIÁ TRỊ CỐT LÕI</h3>
                    <h6>Board Game Galaxy cam kết mang đến cho khách hàng những trải nghiệm mua sắm thú vị và thoải mái nhất. Chúng tôi không chỉ cung cấp các sản phẩm chất lượng với mức giá cạnh tranh, mà còn tạo ra một không gian giao lưu, học hỏi và chia sẻ đam mê cho cộng đồng người chơi.</h6>
                    <h6>Board Game Galaxy tự hào là địa điểm mua sắm lý tưởng cho mọi người yêu thích board game, từ những game kinh điển đến những xu hướng mới nhất trên thị trường. Ngoài ra, chúng tôi cũng cung cấp các dịch vụ như tổ chức sự kiện, hướng dẫn chơi game, và tư vấn chọn lựa board game phù hợp.</h6>
                </div>
                <div class="col contact-info">
                    <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                    <p>Địa chỉ: P301, tầng 3, tòa nhà GP Invest, số 170 La Thành, Phường Ô Chợ Dừa, Quận Đống Đa, Thành Phố Hà Nội.</p>
                    <p>Điện thoại: +8424 - 7303.0222</p>
                    <p>Fax: +8424 - 6277.6419</p>
                    <p>Email: hello@boardgamegalaxy.com</p>
                    <h6>Hãy đến và khám phá vũ trụ của thế giới board game tại Board Game Galaxy ngay hôm nay!</h6>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-title="test_ai_chat"
                  agent-id="70e68a01-28c0-43ee-b288-cfc312c1f465"
                  language-code="en"
                  icon="https://i.pinimg.com/564x/c5/6a/d1/c56ad191ecd2c53e6a2f9241ce8c4c02.jpg"></df-messenger>

    <script src="~/js/index.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/cart.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>