@model WebBG.ViewModels.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row border-2">
        <div class="col-md-3">
            <div class="container">
                <ul class="list-group">
                    @foreach(var item in Model.Categories)
                    {
                        <li class="list-item">
                            <span><a href="@item.Link-@item.CategoryId">@item.CategoryName</a></span>
                            <box-icon name='chevron-right'></box-icon>
                        </li>
                    }
                   

                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/slide_1.jpg" class="d-block w-100" alt="..." style="height:400px">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slide_2.jpg" class="d-block w-100" alt="..." style="height:400px">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>



    </div>
</div>
@await Html.PartialAsync("_ProductPartial")

