@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model WebBG.ViewModels.IntroduceViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <p>
                Chào mừng bạn đến với Galaxy Board Game Store - nơi lựa chọn hàng đầu cho những người yêu thích trò chơi bàn.
            </p>
            <p>
                Tại Galaxy, chúng tôi không chỉ bán các sản phẩm board game mà còn mang đến cho bạn một trải nghiệm mua sắm độc đáo và thú vị.
            </p>
            <p>
                Với một bộ sưu tập đa dạng từ những trò chơi cổ điển cho đến những xu hướng mới nhất, chúng tôi cam kết cung cấp cho bạn những lựa chọn phong phú và đa dạng nhất.
            </p>
            <p>
                Bất kể bạn là một người chơi mới, một người chơi chuyên nghiệp hay một nhà thiết kế trò chơi, Galaxy là nơi lý tưởng để bạn khám phá và trải nghiệm thế giới của trò chơi bàn.
            </p>
            <p>
                Chúng tôi hiểu rằng mỗi trò chơi không chỉ là một cách giải trí, mà còn là một cơ hội để tạo ra những kỷ niệm đáng nhớ với gia đình và bạn bè. Với sứ mệnh này, chúng tôi mong muốn mang lại cho bạn không chỉ những giờ phút giải trí mà còn những trải nghiệm ý nghĩa và gần gũi.
            </p>
            <p>
                Hãy tham gia cùng chúng tôi và khám phá thế giới thú vị của board game tại Galaxy Board Game Store!
            </p>
            <p>
                Liên hệ với chúng tôi để biết thêm thông tin:
            </p>
            <ul>
                <li>📞 Số điện thoại: 0123 456 789</li>
                <li>📧 Email: contact@galaxyboardgamestore.com</li>
                <li>🏠 Địa chỉ: Số 123, Đường ABC, Thành phố XYZ</li>
            </ul>
        </div>
    </div>
</div>

