@model WebBG.Models.CartDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
<h1>Edit</h1>

<h4>CartDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="~/Admin/AdminCartDetails/Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CartDetailId" />
            <input type="hidden" name="Id" value="@Model.CartDetailId" />
            <div class="form-group">
                <label asp-for="CartId" class="control-label"></label>
                <select asp-for="CartId" class="form-control" asp-items="ViewBag.Carts"></select>
                <span asp-validation-for="CartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGameId" class="control-label"></label>
                <select asp-for="BoardGameId" class="form-control" asp-items="ViewBag.BoardGames"></select>
                <span asp-validation-for="BoardGameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a href="~/Admin/AdminCartDetails/Index">Back to List</a>
</div>

