@model WebBG.ViewModels.CartViewModel;

@{
    ViewData["Title"] = "PaymentFail";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="alert alert-danger">
    Thanh toán VNPay thất bại
</div>