@model WebBG.Models.Blog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="color:black">
<h1>Edit</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="~/Admin/AdminBlogs/Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogId" />
            <input type="hidden" name="Id" value="@Model.BlogId"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <img src="@Model.Image" alt="Product Image" style="max-width:200px;" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datebegin" class="control-label"></label>
                <input asp-for="Datebegin" class="form-control" />
                <span asp-validation-for="Datebegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderIndex" class="control-label"></label>
                <input asp-for="OrderIndex" class="form-control" />
                <span asp-validation-for="OrderIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hidden" class="control-label">Hidden</label>
                <div>
                    <label><input type="radio" asp-for="Hidden" value="0" checked> Hiện</label>
                    <label><input type="radio" asp-for="Hidden" value="1"> Ẩn</label>
                </div>
                <span asp-validation-for="Hidden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Admin/AdminBlogs/Index">Back to List</a>
</div>
</div>
